    {% extends 'base.html' %}

    {% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">My Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
            quisque auctor ligula praesent magnis bibendum sagittis a,
            habitant cras sociosqu ad taciti ultricies.
            Torquent potenti neque mauris tempus tempor himenaeos
            luctus suspendisse aenean a, non magna bibendum commodo cum
            quisque interdum leo mollis, etiam id ac arcu dignissim aliquam
            felis fringilla velit. Nisi facilisi ad faucibus facilisis vel
            fermentum suscipit senectus mattis, torquent eros elementum
            orci pellentesque dictum sagittis tellus placerat,
            porttitor nunc luctus vulputate sed nullam dignissim netus.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin">
                Signin
                </a>
                <a class="btn btn-dark" href="/signup">
                Signup
                </a>
            </div>
        </section>
    </main>

    {% endblock %}
